



<%= form_for(@assignment ,url:"/assignments/#{@assignment.id}/set_answers")  do |a| %>

    <h2 class="pull-left"><%= @assignment.name %></h2>
    <%= a.submit 'Update',:class=>'btn btn-primary pull-right'  %>

<table class="table table-hover table-responsive">
  <thead class="thead">
  <tr>
    <th>
      Question
    </th>
    <th>Choices</th>
    <th>Current Correct Answer</th>
  </tr>
  </thead>
  <tbody>


    <%= a.fields_for :questions do |q| %>
      <tr>

        <td><%= q.object.text %></td>
        <td><%= q.collection_select :choice_id, q.object.choices,:id,:text %></td>
        <td>
          <%@c= Choice.find_by_id(q.object.choice_id) %>
          <%if @c.present? %>

              <%= @c.text %>


          <%else  %>

              NOT SET
          <%end %>
              </td>

      </tr>
    <%end %>

  </tbody>
</table>

<%end  %>
<div class="form-actions">
<%= link_to t('.back', :default => t("helpers.links.back")),
            assignment_path(@assignment), :class => 'btn'  %>
    </div>