<%- model_class = Assignment -%>
<div class="page-header">

  <h3 class="h3"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <%if current_user.role.is('teacher') %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_assignment_path,
                    :class => 'btn btn-primary' %>
    <%end %>
  </h3>

</div>
<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:active) %></th>
    <th><%= model_class.human_attribute_name(:expired) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @assignments.each do |assignment| %>
      <tr>


        <td><%=link_to assignment.name ,assignment_path(assignment)%></td>
        <td><%= assignment.active %></td>
        <td><%= assignment.expired %></td>
        <td><%=l assignment.created_at.to_date %></td>
        <td>
          <%if current_user.role.is('teacher') %>
              <%if !assignment.active && !assignment.expired %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_assignment_path(assignment), :class => 'btn btn-mini' %>

                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              assignment_path(assignment),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-mini btn-danger' %>
                  <%=link_to 'Activate', "/assignments/#{assignment.id.to_s}/activate",:class => 'btn btn-success btn-mini',:method => :post %>
              <%end%>
              <%if !assignment.expired && assignment.active%>
                  <%=link_to 'End', "/assignments/#{assignment.id.to_s}/expire",:class => 'btn btn-warning btn-mini',:method => :post %>
              <%end%>
          <%elsif current_user.role.is('student') && assignment.active && !current_user.attempts.find_by_assignment_id_and_submitted(assignment.id,true).present? %>
              <%= link_to "Download", "/assignments/#{assignment.id}/download"%>
              <%= form_for :file_upload,:url=>"/assignments/upload",:html => {:multipart=>:true} do |f| %>
                  <%= f.file_field :my_file %>
                  <%= f.submit "Upload" %>
              <%end  %>
              <%#=link_to 'Play', "/assignments/#{assignment.id}/play",:remote=>true%>
          <%end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="game_container"></div>


